/* UserInfo.css */
@import './fonts.css';
@font-face {
  font-family: caros-black;
  src: url('../assets/fonts/Nunito-BlackItalic.ttf');
}
@font-face {
  font-family: caros-light;
  src: url('../assets/fonts/carosmedium.otf');
}
.username {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.usrdta {
  font-family: 'Myfont', carosmedium, sans-serif;
  font-size: 10px;
}
 h1{
  font-family:caros-black;
 }

p {
  font-family:caros-light;
  
  font-size: 14px;
  opacity: 0.5;
 
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.modal {
  background-color: white;
  width: 300px;
  padding: 15px;
  margin-top: 75px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.userimgcontainer {
  position: absolute;
  top: 115px; 
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #ccc; 
  box-shadow: 0 2px 2px rgba(235, 183, 183, 0.9); 
}

.userimg {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  object-fit: cover;
  overflow: hidden;
}
.userimgcontainer:hover .userimg {
  transform: scale(1.8);
  filter:grayscale(0%);
}
 
.contactsoverly {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: row;
}

.contacstscontainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  width: 300px; 
  height: 52px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center;
}

.iconImage {
  width: 30px; 
  height: 30px; 
  
}

.socialMediaIcon {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.centered-text {
  text-align: center; 
  margin-top: 50vh; 
  transform: translateY(-50%);
  font-size: large;
  font-family:caros-light;
}
.socialmedianame{
  font-size: large;
  color: black;
  word-wrap: break-word;
  font-family:caros-light;
}
.canceltext-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

/* Justify text */
.canceltext {
  text-align: justify;
}
h1{
  font-family:caros-light;
  text-align: center;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}
/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .modal {
    width: 75%; 
  }
  
  .contacstscontainer {
    width: 75%; 
  }
}
